*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    text-align: center;
}
.main{
    
}
.main img{
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 20px;
}

.main .para{
    margin-left: 500px;
    width: 500px;
    color: grey;
    font-size: 17px;
}
.para p{
    margin-bottom: 20px;
}
.video{
    margin-left: 500px;
}