*{
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewportheight */
    margin: 0;
    background-color: hsl(210, 46%, 95%);
    place-content: center;
   
    /* color: white; */
    /* font-family: var(--ff-primary);
    font-weight: var(--fw-400); */
    /* background-color: hsl(var(--clr-neutral-200)); */
}

.flex{
    display: flex;
}
.gridContainer{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    gap: 20px;
    padding: 20px;
    /* margin: 0px 120px 10px 120px ; */
    margin-left: 100px;
    margin-right: 100px;
    
}
h2.name{
    line-height: 1;
    margin-right: 20px;
    color: white;
    font-size: 0.8525rem;
    font-weight: 800;
}
h2.name2{
    line-height: 1;
    margin-right: 20px;
    color: #48556A;
    font-size: 0.8525rem;
    font-weight: 800;
}
p.position2{
    font-size: 0.6875rem;
    opacity: 0.5;
    margin-right: 20px;
    color: #48556A;
    font-size: 12px;
}
p.position{
    font-size: 0.6875rem;
    opacity: 0.5;
    margin-right: 20px;
    color: white;
    font-size: 12px;

}
.gridContainer img{
    width: 1.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
    /* margin-left: 20px; */
}
.art1{
    background-color: #7541C8;
    
    grid-column: 1/3;
    border-radius: 10px;
    padding: 50px;

}
.art2{
    
    background-color: #6e819e;
    border-radius: 10px;
    padding: 30px;
    

}
.art3{
    background-color: white;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 30px;
    

}
.art4{
   background-color: #19212E;
   
    /* border: 2px solid black; */
    grid-column: 2/4;
    border-radius: 10px;
    padding: 30px;
    

}
.art5{
   background-color: white;
    /* border: 2px solid black; */
    grid-row:1/3;
    grid-column: 4/6;
    border-radius: 10px;
    padding: 30px;

}

.white-p1{
    margin: 20px 0px 0px;
    color: white;
    font-family: "barlow Semi Condensed", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;


}
.grey-p2{
    color: #485568;
     margin: 13px 0px 0px;
    font-family: "barlow Semi Condensed", sans-serif;
    opacity: 0.9;
}
.black-p1{
    color: #48556A;
    margin: 20px 0px 0px;
    font-family: "barlow Semi Condensed", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}